<div class="btn-group" role="group" aria-label="Button group with nested dropdown">


    <button type="button" class="btn btn-primary" [routerLink]="['estadisticas']">Estadisticas</button>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Grupos
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a *ngFor="let groups of groups; index as i" class="dropdown-item" (click)="VerGroup(i + 1)">Grupo {{i+1}}</a>
        </div>
    </div>

</div>



<div class="card-columns">
    <div class="card" *ngFor="let pub of publicador; index as i">
        <img class="card-img-top" src="../../../../assets/img/icon-search.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{pub.nombre}} {{pub.apellido}}</h5>
            <p class="card-text">{{pub.tipo}}</p>
            <p class="card-text">{{pub.sexo}}</p>
            <p class="card-text">{{pub.celular}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <a [routerLink]="['/publisher', pub.codigo]" class="btn btn-outline-primary">Ver mas...</a>

        <button (click)="VerPublicador(pub.codigo)" type="button" class="btn-btn-primary btn-block position-relative">Ver Publicador</button>
    </div>
</div>