<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['home']">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['pagUno']">Pagina 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['pagDos']">Pagina 2</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        
      </form>
    </div>
  </nav>