<div class='form-control'></div>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" [routerLink]="['home']">Home</a>


        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['literatura']">Literatura</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['organization']">Organization</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" placeholder="Buscar Publicador" #cajaTexto (keyup)="buscarPublicador(cajaTexto.value)">
            <button class="btn btn-outline-info my-2 my-sm-0" type="button" (click)="buscarPublicador(cajaTexto.value)">Buscar</button>
        </form>
    </div>
</nav>