<!-- El padre de esta tarjeta es grupos y publisher -->


<div class="card-group">
    <div class="card-body">
        <h5 class="card-title">Grupo {{ publicador.grupo}}</h5>
        <p class="card-text">{{publicador.nombre | uppercase}}</p>
        <p class="card-text">{{publicador.sexo}}</p>
        <p class="card-text">{{ publicador.celular }}</p>
        <p class="card-text">{{publicador.dedicacion }}</p>
        <button type="button" class="btn btn-danger" (click)="mostrar = !mostrar">Ver Ultimo Informe</button>
        <button type="button" class="btn btn-personalizado" (click)="mostrar = !mostrar">Ingresar Informe</button>

        <div *ngIf="mostrar" class="card-danger card-inverse mb-3 text-left">
            <div class="card-block">
                <blockquote class="card-subtitle">
                    <p>{{publicador.nombre}}</p>
                    <div>{{publicador.tipo}}</div>
                    <p>"Tiempo: 100 horas"</p>
                    <footer>cualquier cosa</footer>

                </blockquote>
            </div>
        </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <a [routerLink]="['/publisher']" class="btn btn-outline-primary">Ver mas...</a>
</div>